<section id="team" class="team">

    <div class="container">

        <header class="section-header">
            <h2>Dernières réalisations</h2>
            <p>Retrouvez mes dernières réalisations</p>
        </header>

        <div class="row gy-4">

            {% for realisation in realisations %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <a href="{{ path('realisation.show', {'id': realisation.id, "slug": realisation.slug}) }}">
                        <div class="member">
                            <div class="member-img">
                                <img src="{{ realisation.file }}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>{{ realisation.nom }}</h4>
                                <span>Ajoutée le {{ realisation.createdAt|date('d/m/Y') }}</span>
                                <p>{{ realisation.description|u.truncate(200, '...', false) }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        <div>
            <div class="text-center mt-4 button">
                <a href="{{ path('realisations') }}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                    <span>Découvrir toutes mes réalisations</span>
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>

    </div>

</section>
